{% extends '_templates/base.njk' %}

{% block page_title %}The Dexosphere{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>The Dexosphere</h1>
  <p>Welcome to the Dexosphere, an introductory website all about Dex Parra: student, journalist, and writer. On this page, you'll find several pieces of media that define Dex creatively. Each movie and album are among his favorite works of art. Click on each title to learn more.</p>
  <h2>Movies</h2>
  <p>These are my favorite movies of all time.</p>
  <div class="row">
    {% for movie in media.movies %}
      <div class="col">
        <img src="img/{{ movie.slug }}.jpg" alt="" class="img-fluid">
        <h3><a href="movies/{{ movie.slug }}.html">{{ movie.name }}</a></h3>
      </div>
    {% endfor %}
  </div>
  <div class="row">
    <h2>Albums</h2>
  <p>These are my favorite albums of all time.</p>
    {% for album in media.albums %}
      <div class="col">
        <img src="img/{{ album.slug }}.jpg" alt="" class="img-fluid">
        <h3><a href="albums/{{ album.slug }}.html">{{ album.name }}</a></h3>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}