img {
    width: 250px;
    height: auto;
    margin: 20px 0px 10px 0px;
}

#header {
    font-size: 52px; 
    font-family: "Copperplate";
    color: #9C3F1C;

    padding-bottom: 25px; 
     
    border-bottom-style: dashed; 
    border-bottom-color: #286938; 
    border-bottom-width: 10px; 
}

.subsections {
    color:#4D0A4F;
    border-style: double;
}