// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";

h3 {
  font-size: 1.5rem;
}
img {
  width: 250px;
  height: auto;
  margin: 20px 0px 10px 0px;
}

#header {
  font-size: 52px; 
  font-family: "Copperplate";
  color: #9C3F1C;

  padding-bottom: 25px; 
   
  border-bottom-style: dashed; 
  border-bottom-color: #286938; 
  border-bottom-width: 10px; 
}

h1 {
  color:#4D0A4F;
  border-style: double;
  text-align: center;
}

.brief {
  color:#286938;
  text-align: center;
}

.navbar {
  color: purple;
}

body {
  background-color: tan;
}
]